@import url('https://db.onlinewebfonts.com/c/164a60c2e090248befbcf32fdd5af386?family=Lulo+Clean+One+Bold');
@import url('https://db.onlinewebfonts.com/c/33d8796f3057e0a2042961cd52cb93f8?family=Fenomen+Sans+Book');

@keyframes fire {

  0%,
  100% {
    transform: rotate(-30deg);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: rotate(0deg);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes ready {

  0%,
  100% {
    transform: translateY(-3%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateY(3%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes playing {

  0%,
  100% {
    transform: scale(105%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: scale(95%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("../src/assets/font/Montserrat.ttf") format("truetype");
}

@font-face {
  font-family: "Nippori";
  src: local("Nippori"),
    url("../src/assets/font/Nippori.ttf") format("truetype");
}

@font-face {
  font-family: "Lulo Clean One Bold";
  src: url("https://db.onlinewebfonts.com/t/164a60c2e090248befbcf32fdd5af386.eot");
  src: url("https://db.onlinewebfonts.com/t/164a60c2e090248befbcf32fdd5af386.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/164a60c2e090248befbcf32fdd5af386.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/164a60c2e090248befbcf32fdd5af386.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/164a60c2e090248befbcf32fdd5af386.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/164a60c2e090248befbcf32fdd5af386.svg#Lulo Clean One Bold")format("svg");
}

@font-face {
  font-family: "Fenomen Sans Book";
  src: url("https://db.onlinewebfonts.com/t/33d8796f3057e0a2042961cd52cb93f8.eot");
  src: url("https://db.onlinewebfonts.com/t/33d8796f3057e0a2042961cd52cb93f8.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/33d8796f3057e0a2042961cd52cb93f8.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/33d8796f3057e0a2042961cd52cb93f8.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/33d8796f3057e0a2042961cd52cb93f8.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/33d8796f3057e0a2042961cd52cb93f8.svg#Fenomen Sans Book")format("svg");
}