@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .hexagon {
        width: 10vw;
        height: 8.66vw;
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%, 25% 0%);
        background-color: #fbfbfb;
    }
    
    .inner-hexagon {
        width: 9.6vw;
        height: 8.3136vw;
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%, 25% 0%);
    }

    .box { 
        animation: rotating 10s infinite linear; 
    } 

    @keyframes rotating { 
        0% { 
            transform: rotate(0deg)  
                  translateY(200px) rotate(0deg); 
        } 

        100% { 
            transform: rotate(360deg)  
                  translateY(200px) rotate(-360deg); 
        } 
    } 

}